@use '../util' as *;

.filter-green {
  filter: invert(27%) sepia(59%) saturate(361%) hue-rotate(116deg)
    brightness(45%) contrast(92%);
}
footer {
  background-color: #90d4c5;
  img {
    margin: 0rem auto;
    padding: 4rem 0;
    padding-bottom: 3rem;
  }
  .footer-links {
    display: flex;
    margin: 0;
    margin-bottom: 1rem;
    justify-content: center;
    & > * {
      margin: 0 2rem;
      color: var(--darkdesaturatedcyan);
      transition: all 250ms ease-in-out;
      &:hover {
        color: var(--white);
      }
      &:focus-within {
        outline: dotted 3px red;
      }
    }
  }
  .footer-icons {
    display: flex;
    justify-content: center;
    & > *:focus-within {
      outline: dotted 3px red;
    }
    img {
      margin: 4rem 1rem;
      padding: 0;
      transition: all 250ms ease-in-out;
      &:hover {
        filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(360deg)
          brightness(110%) contrast(110%);
      }
    }
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  & > *:focus-within {
    outline: dotted 3px red;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
  &:hover {
    color: var(--softred);
  }
}
