@use '../util' as *;

.misc {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: rem(450);
  // grid-template-areas: "orange" "milk" "icecream" "sugar";

  @include for-phone-only {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(150px, 300px));
    grid-template-areas: "milk oranges" "icecream sugar";
  }
  @include for-tablet-portrait-up {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-template-areas: "milk oranges" "icecream sugar";
  }
  @include for-desktop-up {
    grid-template-columns: repeat(4, minmax(280px, 360px));
    grid-template-rows: 450px;
    grid-template-areas: "milk oranges icecream sugar";
  }

  .milk {
    grid-area: milk;
    background-image: url(../../../app/images/desktop/image-gallery-milkbottles.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .orange {
    grid-area: oranges;
    background-image: url(../../../app/images/desktop/image-gallery-orange.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .icecream {
    grid-area: icecream;
    background-image: url(../../../app/images/desktop/image-gallery-cone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sugar {
    grid-area: sugar;
    background-image: url(../../../app/images/desktop/image-gallery-sugarcubes.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
