@use '../util' as *;

.wrapper {
  display: grid;
  @include for-phone-only {
    grid-template-columns: minmax(375px, 599px);
    grid-template-rows: 350px 450px 350px 450px 600px 600px;
    grid-template-areas: "egg" "transform" "glass" "standout" "design" "photography";
  }
  @include for-tablet-portrait-up {
    grid-template-columns: minmax(600px, 899px);
    grid-template-rows: 350px 450px 350px 450px 600px 600px;
    grid-template-areas: "egg" "transform" "glass" "standout" "design" "photography";
  }
  @include for-tablet-landscape-up {
    grid-template-columns: repeat(2, minmax(300px, 720px));
    grid-template-rows: repeat(3, 600px);
    grid-template-areas:
      "transform egg"
      "glass standout"
      "design photography";
  }
  .transform {
    grid-area: transform;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7rem;
    color: var(--verydarkdesaturatedblue);
    @include for-tablet-portrait-up {
      margin: 0;
      align-items: center;
    }
    @include for-phone-only {
      margin: 0;
      justify-content: center;
    }
    h2 {
      font-family: var(--font-secondary);
      font-weight: 900;
      font-size: 2.5rem;
      width: 25rem;
      line-height: 1.2;
      @include for-tablet-portrait-up {
        font-size: 2rem;
        text-align: center;
        margin: 0;
        width: 80%;
      }
      @include for-phone-only {
        font-size: 2rem;
        text-align: center;
        margin: 0 3rem;
        width: 80%;
      }
      @include for-desktop-up {
        text-align: start;
      }
    }
    p {
      margin: 3rem 0;
      font-size: 1.2rem;
      @include for-tablet-portrait-up {
        margin: 3rem 2rem;
      }
      @include for-phone-only {
        font-size: 1.1rem;
        margin: 3rem 2rem;
        text-align: center;
      }
      @include for-desktop-up {
        margin-left: 4rem;
      }
    }
    a {
      text-transform: uppercase;
      font-family: var(--font-secondary);
      font-size: 1rem;
      letter-spacing: 1px;
      color: var(--verydarkdesaturatedblue);
      &:hover + .highlight {
        opacity: 1;
      }
      &:focus-within {
        outline: dotted 3px red;
      }
      @include for-phone-only {
        text-align: center;
      }
      @include for-desktop-up {
        width: 100%;
        margin-left: 8rem;
        text-align: start;
      }
    }
    .highlight {
      position: relative;
      top: -10px;
      left: 0;
      content: "";
      width: 122px;
      border-bottom: solid 10px var(--yellow);
      border-radius: 5px;
      opacity: 0.4;
      z-index: -1;
      @include for-phone-only {
        left: 50%;
        transform: translateX(-50%);
      }
      @include for-desktop-up {
        left: -32%;
      }
    }
  }
  .egg {
    grid-area: egg;
    background-image: url(../app/images/desktop/image-transform.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include for-phone-only {
      background-image: url(../app/images/mobile/image-transform.jpg);
    }
  }
  .standout {
    grid-area: standout;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 7rem;
    color: var(--verydarkdesaturatedblue);
    @include for-tablet-portrait-up {
      margin: 0;
      align-items: center;
    }
    @include for-phone-only {
      margin: 0;
      justify-content: center;
    }
    h2 {
      font-family: var(--font-secondary);
      font-weight: 900;
      font-size: 2.5rem;
      width: 30rem;
      line-height: 1.2;
      @include for-tablet-portrait-up {
        font-size: 2rem;
        text-align: center;
        margin: 0;
        width: 80%;
      }
      @include for-phone-only {
        font-size: 2rem;
        text-align: center;
        margin: 0 3rem;
        width: 80%;
      }
      @include for-desktop-up {
        text-align: start;
      }
    }
    p {
      margin: 3rem 0;
      font-size: 1.2rem;
      @include for-tablet-portrait-up {
        margin: 3rem 2rem;
      }
      @include for-phone-only {
        font-size: 1.1rem;
        margin: 3rem 2rem;
        text-align: center;
      }
      @include for-desktop-up {
        margin-left: 4rem;
      }
    }
    a {
      text-transform: uppercase;
      font-family: var(--font-secondary);
      font-size: 1rem;
      letter-spacing: 1px;
      color: var(--verydarkdesaturatedblue);
      &:hover + .highlight {
        opacity: 1;
      }
      &:focus-within {
        outline: dotted 3px red;
      }
      @include for-phone-only {
        text-align: center;
      }
      @include for-desktop-up {
        width: 100%;
        margin-left: 8rem;
        text-align: start;
      }
    }
    .highlight {
      position: relative;
      top: -10px;
      left: 0;
      content: "";
      width: 122px;
      border-bottom: solid 10px var(--softred);
      border-radius: 5px;
      opacity: 0.4;
      z-index: -1;
      @include for-phone-only {
        left: 50%;
        transform: translateX(-50%);
      }
      @include for-desktop-up {
        left: -32%;
      }
    }
  }
  .glass {
    grid-area: glass;
    background-image: url(../app/images/desktop/image-stand-out.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include for-phone-only {
      background-image: url(../app/images/mobile/image-stand-out.jpg);
    }
  }
  .design {
    grid-area: design;
    background-image: url(../app/images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--darkdesaturatedcyan);
    h3 {
      font-family: var(--font-secondary);
      @include for-tablet-portrait-up {
        margin: 1rem;
      }
      @include for-phone-only {
        margin: 1rem;
      }
    }
    p {
      margin: 3rem 10rem;
      @include for-tablet-portrait-up {
        padding: 0;
        margin: 1rem 2rem;
        font-size: 1rem;
        margin-bottom: 4rem;
      }
      @include for-phone-only {
        padding: 0;
        margin: 1rem;
        font-size: 1rem;
        margin-bottom: 4rem;
      }
    }
  }
  .photography {
    grid-area: photography;
    background-image: url(../app/images/desktop/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--darkblue);
    h3 {
      font-family: var(--font-secondary);
      @include for-tablet-portrait-up {
        margin: 1rem;
      }
      @include for-phone-only {
        margin: 1rem;
      }
    }
    p {
      margin: 3rem 10rem;
      @include for-tablet-portrait-up {
        padding: 0;
        margin: 1rem 3rem;
        font-size: 1rem;
        margin-bottom: 4rem;
      }
      @include for-phone-only {
        padding: 0;
        margin: 1rem;
        font-size: 1rem;
        margin-bottom: 4rem;
      }
    }
  }
}
